apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: fintrack

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: api
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
