apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: fintrack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: fintrack-api:latest
          command: ["celery", "-A", "app.tasks.celery", "worker", "--loglevel=info"]
          envFrom:
            - secretRef:
                name: fintrack-secrets
          env:
            - name: APP_ENV
              value: "production"
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
